<div class="card container text-center mt-5" style="width: 25rem;">
  <app-image [id] = "image"></app-image>
  <div class="card-body">
    <h5 class="card-title">{{pokemon.name | titlecase}}</h5>
    <app-button (click) = "onclick('prev')" class="me-5"></app-button>
    <app-button (click) = "onclick('prox')"></app-button>

    <p>Height {{pokemon.height}}</p>
    <p>Weight {{pokemon.weight}}</p>
    Types: <span *ngFor="let type of pokemon.types">{{type.type.name | titlecase}} </span>
  </div>
</div>
