<div class="container d-flex flex-row justify-content-center mt-4">
  <div class="card d-flex" style="width: 25rem">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Search by Pokemon id"
        [(ngModel)]="id"
        (keyup)="nextPokemon()"
      />
      <label for="floatingInput">Search by Pokemon id</label>
    </div>
    <app-image [id]="image"></app-image>
    <div class="card-body">
      <h4 class="card-title">{{ pokemon.name | titlecase }}</h4>
      <h5 class="card-text mb-4">
        Types:
        <span
          [ngStyle]="{ background: getColor(type.type.name) }"
          class="badge rounded-pill me-2"
          *ngFor="let type of pokemon.types"
        >
          {{ type.type.name | titlecase }}
        </span>
      </h5>
      <div class="d-flex justify-content-center mb-2">
        <app-button
          (click)="onclick('prev')"
          [hold]="'Prev'"
          class="me-5"
        ></app-button>
        <app-button (click)="onclick('prox')" [hold]="'Next'"></app-button>
      </div>
    </div>
  </div>
  <div class="card" style="width: 20rem">
    <div class="card-body">
      <div class="card-title">
        <h5 class="card-title ml-5">Basic info</h5>
      </div>
      <h6 class="card-text">Height: {{ pokemon.height }}</h6>
      <h6 class="card-text">Weight: {{ pokemon.weight }}</h6>

      <h5 class="card-title mt-5">Abilities</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Slot</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let currentAbilities of pokemon.abilities">
            <th scope="row">{{ currentAbilities.slot }}</th>
            <td>{{ currentAbilities.ability.name | titlecase }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
